In [2]:
import georender

In [12]:
from georender import utils

In [17]:
csv = "countries.csv"
df = utils.csv_to_df(csv)
df

      id                  name
0    AFG           Afghanistan
1    AGO                Angola
2    ALB               Albania
3    ARE  United Arab Emirates
4    ARG             Argentina
..   ...                   ...
174  PSE             West Bank
175  YEM                 Yemen
176  ZAF          South Africa
177  ZMB                Zambia
178  ZWE              Zimbabwe

[179 rows x 2 columns]